<section class="wrapper">
  <div class="home text-center text-white">
    <h3>Please select service</h3>
      <table class="table">
        <tr>
          <td>
              <a routerLink="/available-notes" routerLinkActive="active" class="btn btn-full">Withdraw <br> INR{{fixedBal[0]}}</a>
          </td>
          <td>
              <a routerLink="/available-notes" routerLinkActive="active" class="btn btn-full">Withdraw <br> INR{{fixedBal[3]}}</a>
          </td>
        </tr>
        <tr>
            <td>
                <a routerLink="/available-notes" routerLinkActive="active" class="btn btn-full">Withdraw <br> INR{{fixedBal[1]}}</a>
            </td>
            <td>
                <a routerLink="/available-notes" routerLinkActive="active" class="btn btn-full">Withdraw <br> INR{{fixedBal[4]}}</a>
            </td>
          </tr>
          <tr>
            <td>
                <a routerLink="/available-notes" routerLinkActive="active" class="btn btn-full">Withdraw <br> INR{{fixedBal[2]}}</a>
            </td>
            <td>
                <a routerLink="/available-notes" routerLinkActive="active" class="btn btn-full">Withdraw <br> INR{{fixedBal[5]}}</a>
            </td>
          </tr>
      </table>  
  </div>
</section>