<section class="wrapper">
  <div class="header-wrapper">
      <span></span>
      <div class="header">
          <img routerLink ="/home" src="/assets/images/logo-black.svg" alt="logo"> &nbsp;Internet Banking
      <div class="header-subtitle">App...v1</div>
      </div>
  </div>
  <div class="main-body">
      <h1>Thank you for<br>
          Banking with us...</h1>
  </div>
  <div class="footer">
      <span>Regulatory Disclosures Hyperlink Policy Privacy Statement Site Terms Sitemap</span>
  </div>
</section>